conda.enabled = true

process {
    withName: 'entrez' {
        conda = "${projectDir}/envs/entrez.yaml"
    }
}

process {
    withName: 'fastaDatabase' {
        conda = "${projectDir}/envs/biopython.yaml"
    }
}


process {
	withName: 'clustering' {
		conda = "${projectDir}/envs/cdhit.yaml"
	}
}

process {
        withName: 'prokkaMakeAnnotations' {
                conda = "${projectDir}/envs/prokka.yaml"        
        }
}


process {
        withName: 'makePangenome' {
                conda = "${projectDir}/envs/panaroo.yaml"        
        }
}


process {
	withName: 'formattingPangenome' {
		conda = "${projectDir}/envs/formattingPangenome.yaml"
	}
}

process {
	withName: 'alignment' {
		conda = "${projectDir}/envs/alignment.yaml"
	}
}

process {
        withName: 'alignmentSummary' {
                conda = "${projectDir}/envs/alignment.yaml"
        }
}
process {
        withName: 'plotCoveragevsCompleteness' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'makeMatrix' {
                conda = "${projectDir}/envs/plot.yaml"
        }
}

process {
        withName: 'buildHeatmap' {
                conda = "${projectDir}/envs/heatmap.yaml"
        }
}


process {
	withName: 'pMauve' {
		conda = "${projectDir}/envs/pMauve.yaml"
	}
}

process {
        withName: 'gatkConsensus' {
                conda = "${projectDir}/envs/gatk.yaml"
        }
}

